.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    animation: bounce 2s infinite;
}



@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.table tbody tr:hover {
    border: solid 2pt rgb(36, 193, 236) !important;
    border-radius: 10x !important;
}