  /* Aggiungi qui ulteriori stili CSS */
  .grid-img {
      height: 200px;
      /* Altezza fissa per le immagini della griglia */
      object-fit: cover;
      /* Mantiene le proporzioni dell'immagine */
  }

  /* Stile per il riepilogo della qualità */
  .quality-summary {
      text-align: center;
  }

  .quality-summary i {
      color: #007bff;
      /* Colore dell'icona, lo stesso del bottone Bootstrap */
  }

  .quality-summary p {
      margin-top: 0.5rem;
  }

  /* Stili per il gradiente e l'ombra */
  body {
      background: linear-gradient(0deg, #ffffff 0%, #E6E6FA 100%);
      background-attachment: fixed;
      /* Effetto parallasse */
  }

  .navbar {
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
      /* Ombra sotto la navbar */
  }

  .img-fluid {
      width: 400px;
      height: 200px;
      border-radius: 10px;
      box-shadow: 9px 10px 31px -17px rgba(0, 0, 0, 0.75);
      transition: transform .2s;
  }

  .img-fluid:hover {

      transform: scale(1.05);
      /* Animation */
  }

  .nomeCategoria {
      margin-top: 10px;
      font-size: 18pt;
      font-weight: 500;
  }

  body.fade-out {
      opacity: 0;
      transition: opacity 0.5s;
  }

  .btn-primary {
      background-color: #6610f2;
      border: #6610f2;
  }

  /* Stile per rendere il logo più grande */
  .logo {
      font-size: 4em;
      /* Modifica la dimensione del logo come preferisci */
      /* Colore del logo */
      font-weight: bold;
      /* Testo in grassetto */
      position: fixed;
      /* Posizionamento fisso rispetto alla finestra del browser */
      top: 50%;
      /* Posiziona il logo verticalmente al centro */
      left: 50%;
      /* Posiziona il logo orizzontalmente al centro */
      transform: translate(-50%, -50%);
      text-align: center;
      /* Centra il logo esattamente */
  }

  /* Stile per il paragrafo sotto al logo */
  .sottologo {
      font-size: 12pt;
      position: fixed;
      margin-top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(5px);
      /* Applica uno sfondo sfocato */
      padding: 10px;
      /* Aggiunge spazio intorno al testo */
      border-radius: 10px;
      /* Aggiunge angoli arrotondati */
  }

  .labelAdmin {
      font-size: 15pt;
      color: #ffae3d;
  }