.grid-img {
    object-fit: cover;
}

.quality-summary {
    text-align: center;
}

.quality-summary i {
    color: #007bff;
}

.quality-summary p {
    margin-top: 0.5rem;
}

body {
    background: linear-gradient(0deg, #ffffff 0%, #E6E6FA 100%);
    background-attachment: fixed;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.img-fluid {
    max-width: 100%;
    /* Imposta la larghezza massima al 100% della larghezza del contenitore */
    aspect-ratio: 2;
    /* Mantieni l'aspetto proporzionale */
    border-radius: 8px;
    box-shadow: 9px 10px 31px -17px rgba(0, 0, 0, 0.75);
    transition: transform .2s;
}

.img-fluid:hover {
    transform: scale(1.05);
}

.categoria-overlay {
    position: relative;
    display: inline-block;
}

.nomeCategoria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 15pt;
    font-weight: bolder;
    /* Assicurati che il testo sia leggibile sull'immagine */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra per migliorare la leggibilità */
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.btn-primary {
    background-color: #6610f2;
    border: #6610f2;
}

.additional-text {
    font-size: 7vh;

    font-weight: bold;
    margin-top: 20px;
}

.strength-right {
    color: #6610f2;
}

.number-text {
    font-size: 5vh;
}

.number {
    font-size: 20vh;
    font-weight: bolder;
    color: #6610f2;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}
